<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	<add key="Local Package source" value="C:\Users\Juergen\.nuget\packages" protocolVersion="3" />
	<add key="aspnetcore-volatile-dev" value="https://dotnet.myget.org/F/aspnetcore-volatile-dev/api/v3/index.json" protocolVersion="3" />
	<add key="CliFallbackFolder" value="C:\Users\Juergen\.dotnet\NuGetFallbackFolder" protocolVersion="3" />
  </packageSources>
</configuration>